.container {
    width: 1280px;
    margin: 0 auto;
    font-family: Arial;
}

.padding_site {
    padding: 50px;
    box-sizing: border-box;
}

.page_header {
    width: 100%;
    background-color: #445162;
    min-height: 323px;
    padding: 50px 25px 0 50px;
    box-sizing: border-box;
}


.page_header:after {
    content: "";
    display: block;
    width: 100%;
}

.page_header_wrp {
    float: left;
}

.caption {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0px 0 -50px;
}

.page_header_list {
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    list-style-type: none;
    margin: 20px 0 0 0px;
}

.page_header_list li:nth-child(4) {
    margin: 0;
}

.page_header_list_item {
    position: relative;
}

.page_header_list li:before {
    content: "\2714";
    position: absolute;
    left: -35px;
    box-sizing: border-box;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*background-image: url("/img/check_icon.png")*/
}

.page_header_pic {
    width: 469px;
    height: 214px;
    background-color: #ffffff;
    margin: 25px 50px 0 0;
    display: block;
    float: right;
}

.about_wrp {
    float: left;
    width: 653px;
}

.about_caption {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.about_text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.about_pic {
    width: 430px;
    height: 245px;
    background-color: #445161;
    display: block;
    float: right;
    margin: 50px 75px 0 0;
}

.about:after {
    content: "";
    display: block;
    width: 100%;
}

.dignity {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    background-color: #f5f5f5;
    width: 100%;
    min-height: 420px;
    display: flex;
    flex-wrap: wrap;
}

.dignity:after {
    content: "";
    display: block;
    width: 100%;
}

.dignity_caption {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    width: 100%;
    display: block;
    text-align: center;
}

.dignity_item_wrp {
    width: 526px;
    min-height: 63px;
    margin: 30px 40px 0 0px;
}

.dignity_item {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 35px 42px;
    position: relative;
}

details summary {
    display: block;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary::before {
    content: "+";
    width: 32px;
    height: 32px;
    background-color: #445161;
    color: white;
    font-size: 35px;
    padding: 5px 0px 0px 6px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 6px;
    left: -30px;
    margin: 0px 0 0px 32px;
}

details[open] summary::before {
    content: "-";
    width: 32px;
    height: 32px;
    background-color: #445161;
    color: white;
    font-size: 35px;
    padding: 2px 0px 0px 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 6px;
    left: -30px;
    margin: 0px 0 0px 32px;