.container {
    width: 1920px;
}

.header {
    min-height: 1024px;
    background-color: rgba(17, 17, 17, 0.7);
    background-image: url(../img/bg_photo_11949.jpg);
    box-sizing: border-box;
    padding: 40px 0 0 0;
}

.header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.menu_basket_search {
    float: right;
    margin-right: 375px;
}

.logo {
    display: flex;
    width: 181px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 0 0 375px;
    float: left;
    clear: both;
}

.logo_text {
    font-family: Raleway;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;
    margin: 0 10px 0 -20px;
    box-sizing: border-box;
}

.menu {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-around;
    margin: 25px 0px 0 0;
    box-sizing: border-box;
    clear: both;
}

.menu_item {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    text-transform: capitalize;
    box-sizing: border-box;
    margin: 0 28px 0 0;
}

.basket_icon {
    float: right;
    display: block;
    clear: both;
    margin: 0;
    margin: -7px 0 0 63px;
    ;
}

.search_icon {
    display: block;
    clear: both;
    margin: 0;
    float: right;
    margin: -7px 0 0 0px;
}

.menu_item:hover {
    color: #c7b299;
}

.middle_header {
    width: 1620px;
    min-height: 261px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 285px 150px 325px 150px;
}

.h1_Unique {
    font-family: Raleway;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.h2_Portfolio {
    font-family: Raleway;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    color: #ffffff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.middle_header_text {
    font-family: Montserrat;
    width: 563px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
}

.slider_arrow_right {
    border: 1px solid white;
    display: block;
    width: 60px;
    height: 60px;
    margin: 30px;
    border: none;
    border-top: 2px solid white;
    border-right: 2px solid white;
    opacity: 0.5;
    transform: rotate(45deg);
}

.slider_arrow_left {
    border: 1px solid white;
    display: block;
    width: 60px;
    height: 60px;
    margin: 30px;
    border: none;
    border-top: 2px solid white;
    border-right: 2px solid white;
    opacity: 0.5;
    transform: rotate(-135deg);
}

.slider_arrow_right:hover,
.slider_arrow_left:hover {
    opacity: 1;
}

.header_button {
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    width: 170px;
    height: 53px;
    background-color: #998675;
    border-radius: 3.0px;
    box-sizing: border-box;
    border: none;
    display: block;
    margin: -250px 874px 250px 874px;
}

.header_button:hover {
    color: #ffffff;
    background-color: #c7b299;
}

.header_button:active,
.header_button:focus {
    color: #998675;
    background-color: #ffffff;
    border: none;
}

.header_pagination {
    width: 100px;
    display: flex;
    justify-content: space-around;
    margin: 0 912px 0 912px;
}

.header_pagination_item {
    display: block;
    width: 11px;
    height: 11px;
    opacity: 0.5;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.header_pagination_item:hover {
    background-color: transparent;
    border-color: #cfbda9;
    transform: scale(1.365);
}

.web_development_marketing {
    width: 1166px;
    display: flex;
    margin: 80px 375px 80px 375px;
    justify-content: space-between;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 266px;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
}

.features:after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #555555;
}

.features:hover .features_icon {
    fill: #c7b299;
}

.features:hover .features_caption {
    color: #c7b299;
}

.features:hover:after {
    background-color: #c7b299;
}

.features_icon {
    display: block;
    fill: #555555;
    margin: 0 0 20px 0;
}

.features_caption {
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
    text-transform: capitalize;
}

.features_text {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
}

.waxom_is_realization {
    min-height: 700px;
    background-color: #fbfaf8;
}

.waxom_is_realization:after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #555555;
}

.waxon_is_realization_caption {
    width: 100%;
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    text-align: center;
}

.waxon_is_realization_text {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
     width: 100%;
    
}